<div class="table-responsive mt-3 text-center">
  <table class="table table-sm table-striped">
    <thead class="thead-dark">
      <tr>
        <th>Emoji</th>
        <th>Nombre</th>
        <th>Apellidos</th>
        <th>Edad</th>
        <th>Sexo</th>
        <th>Correo</th>
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let persona of Personas">
        <td><i class="fa {{ persona.Emoji }}"></i></td>
        <td>{{ persona.Nombre }}</td>
        <td>{{ persona.Apellido_P +" "+ persona.Apellido_M }}</td>
        <td>{{ persona.Edad }}</td>
        <td>{{ persona.Sexo }}</td>
        <td>{{ persona.Correo }}</td>
      </tr>
    </tbody>

  </table>
</div>
